@using HondenAsiel.ViewModels;
@model HondenHONDENViewModel

    <div>
        <h1>Een lijst met alle honden!</h1>
        <h2>@Model.HuidigRas</h2>
    </div>

@foreach(var hond in Model.honden)
{
    <div>
        <h4>Honden naam: @hond.Naam</h4>
        <h4>Prijs van hond: @hond.Prijs.ToString("c")</h4>
    </div>

}
